---
import About from "../components/course/About/About.astro";
import CourseScheduleBlock from "../components/course/CourseScheduleBlock.astro";
import FAQ from "../components/course/FAQ.astro";
import FeaturesRow from "../components/course/FeaturesRow.astro";
import Heading from "../components/course/Heading.astro";
import Hero from "../components/course/Hero.astro";
import Icon from "../components/course/Icon/Icon.astro";
import List from "../components/course/List.astro";
import Book from "../components/course/Book.astro";
import Section from "../components/course/Section.astro";
import Toolbar from "../components/course/Toolbar.astro";
import TwoColumnBlock from "../components/course/TwoColumnBlock.astro";
import CourseLayout from "../layouts/Course.astro";
import basicServicing from "./course/_images/basic_servicing.png";
import replaceTube from "./course/_images/replace_tube.png";
import smallFixes from "./course/_images/small_fixes.png";
import theftProofing from "./course/_images/theft_proofing.png";
import servicingImage from "./course/_images/bike_servicing.jpg";
---

<CourseLayout
  title="ShiBike - Mobile Bike Servicing"
  description="Professional bike servicing in Central London at your home or workplace. Save time, ride smoothly."
  meta={{
    title: "ShiBike - Mobile Bike Servicing",
    description:
      "Professional bike servicing in Central London at your home or workplace. Save time, ride smoothly.",
  }}
>
  <Toolbar />
  <main>
    <Section id="description">
      <Hero
        title="Mobile Bike Servicing"
        subtitle="Professional bike servicing in Central London at your home or workplace. Save time, ride smoothly."
        image={servicingImage}
        imageAlt="Mobile Bike Servicing"
      >
        <p>
          Hi, my name is Andrey. I used to work as a software engineer, but over time I realized I get much more satisfaction from working with real, tangible things. 
          As a passionate cyclist, bike servicing turned out to be the perfect fit. I love the process of bringing bikes back to their best.</p>
        <p>
          It’s incredibly rewarding for me to see how much of a difference a well-tuned bike can make to someone's ride.
        </p>
      </Hero>
    </Section>

    <Section class="my-24" id="services">
      <div class="flex items-center gap-3 md:gap-6 mb-12">
        <Icon icon="repair" />
        <Heading level="h2"> What I offer </Heading>
      </div>
      <div class="flex flex-col gap-24">
        <CourseScheduleBlock
          num="1"
          title="Basic servicing"
          price="50 gbp"
          image={basicServicing}
        >
          <List
            items={[
              "Chain cleaning and lubrication",
              "Speeds adjustment",
              "Brakes adjustment",
            ]}
            slot="content"
          />
          </CourseScheduleBlock>

        <CourseScheduleBlock
          num="2"
          title="Inner tube replacement"
          price="10/15 gbp"
          image={replaceTube}
          align="reverse"
        >
          <List
            items={[
              "Replacing the tube with a new one is 15 gbp",
              "Patching the tube is 10 gbp plus love from the Earth",     
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="3"
          title="Theft-proofing"
          price="15 gbp + parts"
          image={theftProofing}
        >
          <List
            items={[
              "Replace front and rear skewers with anti-theft ones",
              "Replace saddle ring with anti-theft one",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          num="4"
          title="Small fixes"
          price="Price to be discussed"
          image={smallFixes}
          align="reverse"
        >
          <List
            items={[
              "Chain replacement",
              "Cable replacement",
              "Minor wheel truing",
              "Accessory fitting",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>
      </div>
    </Section>
    
    <Section class="flex flex-col gap-24" id="pricing" type="narrow">
      <Book buttonText="Book a service" />
    </Section>
    <Section id="faq" type="narrow">
      <FAQ
        title="FAQ"
        items={[
          {
            question: "How do I know if my bike needs servicing?",
            answer:
              "If you are regular rider it's probably a good idea to service your bike twice a year: once before the summer season and once before the winter one. But if you notice anything unusual—strange noises, poor braking, or shifting issues—it’s a good idea to get it checked sooner.",
          },
          {
            question: "How can I contact you?",
            answer: "Feel free to drop me a message to allafterall@gmail.com",
          },
        ]}
      />
    </Section>
    <Section id="author" type="narrow" class="md:pt-16">
      <About>
        The name "ShiBike" is inspired by a Shiba Inu called Satomi who is
        a very sweet girl always keen to travel in a bike trailer.     
      </About>
    </Section>
  </main>
</CourseLayout>
