---
import About from "../components/course/About/About.astro";
import CourseScheduleBlock from "../components/course/CourseScheduleBlock.astro";
import FAQ from "../components/course/FAQ.astro";
import Heading from "../components/course/Heading.astro";
import Hero from "../components/course/Hero.astro";
import Icon from "../components/course/Icon/Icon.astro";
import List from "../components/course/List.astro";
import Book from "../components/course/Book.astro";
import Section from "../components/course/Section.astro";
import Toolbar from "../components/course/Toolbar.astro";
import Testimonials from "../components/course/Testimonials.astro"; // <-- Import the new component
import CourseLayout from "../layouts/Course.astro";
import basicServicing from "./_images/basic_servicing.png";
import replaceTube from "./_images/replace_tube.png";
import smallFixes from "./_images/small_fixes.png";
import theftProofing from "./_images/theft_proofing.png";
import servicingImage from "./_images/bike_servicing.jpg";
---

<CourseLayout
  title="ShiBike - Mobile Bike Servicing"
  description="Professional bike servicing in Central London at your home or workplace. Save time, ride smoothly."
  meta={{
    title: "ShiBike - Mobile Bike Servicing",
    description:
      "Professional bike servicing in Central London at your home or workplace. Save time, ride smoothly.",
  }}
>
  <Toolbar />
  <main>
    <Section id="about">
      <Hero
        title="Mobile Bike Servicing"
        subtitle="Professional bike servicing in Central London at your home or workplace. Save time, ride smoothly."
        image={servicingImage}
        imageAlt="Mobile Bike Servicing"
      >
        <p>
          Hi, my name is Andrey. I used to work as a software engineer, but over time I realized I get much more satisfaction from working with real, tangible things. 
          As a passionate cyclist, bike servicing turned out to be the perfect fit. I love the process of bringing bikes back to their best.</p>
        <p>
          It’s incredibly rewarding for me to see how much of a difference a well-tuned bike can make to someone's ride.
        </p>
      </Hero>
    </Section>

    <Section class="my-24" id="services">
      <div class="flex items-center gap-3 md:gap-6 mb-12">
        <Icon icon="repair" />
        <Heading level="h2"> What I offer </Heading>
      </div>
      <div class="flex flex-col gap-24">
        <CourseScheduleBlock
          title="Basic servicing - 50£"
          image={basicServicing}
        >
          <List
            items={[
              "Chain cleaning and lubrication",
              "Speeds adjustment",
              "Brakes adjustment",
            ]}
            slot="content"
          />
          </CourseScheduleBlock>

        <CourseScheduleBlock
          title="Inner tube replacement 10£/15£"
          image={replaceTube}
          align="reverse"
        >
          <List
            items={[
              "Replacing the tube with a new one is 15£",
              "Patching the tube is 10£ plus love from the Earth",     
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          title="Theft-proofing 40£"
          image={theftProofing}
        >
          <List
            items={[
              "Replace front and rear skewers with anti-theft ones",
              "Replace saddle ring with anti-theft one",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>

        <CourseScheduleBlock
          title="Small fixes (price )"
          image={smallFixes}
          align="reverse"
        >
          <List
            items={[
              "Chain replacement",
              "Cable replacement",
              "Minor wheel truing",
              "Accessory fitting",
            ]}
            slot="content"
          />
        </CourseScheduleBlock>
        <Book buttonText="Book a service" />
      </div>
    </Section>

    <Section id="testimonials" class="my-24">
      <Testimonials
        title="What Customers Say"
        items={[
          {
            quote:
              "Andrey did a great job servicing two of our bikes. They now ride like new! Would highly recommend! Thanks",
            author: "John T.",
            link: "https://www.airtasker.com/users/648201673dff-p-32582018/",
          },
          {
            quote:
              "Andrey is a true professional—he did a great job maintaining my bike. Everything runs smoothly now, and I couldn’t be happier with the result!",
            author: "Maksim K.",
            link: "https://www.airtasker.com/users/648201673dff-p-32582018/",
          },
          {
            quote:
              "Andrey was superb. Sorted my bike problem and even offered to degrease and grease my bike chain as an extra, so pleased with the work! Thank you! :)",
            author: "Nimesh W.",
            link: "https://www.airtasker.com/users/648201673dff-p-32582018/",
          },
          {
            quote:
              "My bike has been super smooth to ride this week, actually went all across to deep West London, thanks a lot of the service!",
            author: "Lina T.",
          },
        ]}
      />
    </Section>

    <Section id="faq" type="narrow">
      <FAQ
        title="FAQ"
        items={[
          {
            question: "How do I know if my bike needs servicing?",
            answer:
              "If you are regular rider it's probably a good idea to service your bike twice a year: once before the summer season and once before the winter one. But if you notice anything unusual—strange noises, poor braking, or shifting issues—it’s a good idea to get it checked sooner.",
          },
          {
            question: "How can I contact you?",
            answer: "Feel free to drop me a message to allafterall@gmail.com",
          },
          {
            question: "What does ShiBike mean?",
            answer: "The name is inspired by a Shiba Inu called Satomi who is a very sweet girl always keen to travel in a bike trailer",
          },
        ]}
      />
    </Section>
    <Section id="author" type="narrow" class="md:pt-16">
      <About>
        Official visit of Her Exellency Satomi to Hampstead Heath.     
      </About>
    </Section>
  </main>
</CourseLayout>
